body {
	margin: 0px;
	padding: 0px;
	background-color: #393939;
	font-size: 12px;
	line-height: 1.8;
	color: #909090;
}

img {
	border:0;
}

a {
	color: #AAAAAA;
}



#header {
	margin: 12px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
	width: 968px;
	height: 100px;
}

#logo {
	margin: 0px;
	padding: 0px;
	width: 172px;
	float: left;
}

#bn1 {
	margin: 30px auto;
	margin-top:60px;
	padding: 0px;
	width: 728px;
}

#container{
	margin: 0px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
	width: 920px;
}

#title {
	margin: 0px;
	padding: 16px 28px;
}

#title h1{
	font-size: 18px;
	font-weight: bold;
	width: 500px;
	margin: 8px 0px 0px 0px;
}

#contents {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 860px;
	color: #1C1C5C;
	outline:none;
}

#main {
	margin: 0px;
	padding: 20px;
	text-align: center;
	background-color:#000;
}

#main0 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color:#000;
}

#main2 {
	margin: 0px;
	padding: 40px;
	text-align: center;
}

#flashContent { width:100%; height:100%; }

#contents2 {
	margin: 0px auto;
	padding: 0px;
	background-color:#282828;
}

#sub {
	margin: 0px auto;
	padding: 20px 10px 20px 40px;
	overflow: hidden;
	zoom: 1;
	width: 890px;
	color: #aaa;
}

#sub1 {
	margin: 0px;
	padding-left: 4px;
	float: left;
	width: 470px;
}

#sub1 h1{
	margin:20px 0px 4px 0px;
	font-weight: bold;
	font-size:14px;
	color:#ddd;
}

#sub1 h2{
	margin:12px 0px 0px 0px;
	font-weight: normal;
	font-size:14px;
	color:#ddd;
}

#sub1 img{
	margin: 0px;
	margin-right: 4px;
	vertical-align:text-top;
}

#sub1 p{
	margin: 2px 0px 10px 0px;
	font-size: 12px;
	line-height: 1.5;
}

#sub1 pp{
	font-size:10px;
	font-weight:bold;
}

#sub2 {
	margin: 60px 0px 20px 0px;
	padding: 0px;
	float: right;
	width: 336px;
}


#sbtn {
	padding: 0px;
	float: right;
	width: 300px;
}

#sub_sbtn {
	margin: 0px auto;
	padding: 30px 10px 0px 40px;
	overflow: hidden;
	zoom: 1;
	width: 890px;
	color: #aaa;
}


#sbtn_l {
	padding: 0px;
	width: 300px;
}

#main_top {
	margin: 0px;
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	zoom: 1;
}

#footer {
	margin: 0px;
	padding: 8px;
	text-align: center;
	background-color:#282828;
}

#sub1 a:link {
	color: #99bbbb;
	text-decoration:underline;
}
#sub1 a:active {
	color: #99bbbb;
	text-decoration:underline;
}
#sub1 a:visited {
	color: #99bbbb;
	text-decoration:underline;
}
#sub1 a:hover {
	color: #99bbbb;
	text-decoration:underline;
}

iframe.twitter-share-button{
    width: 65px!important;
}

.hatena-bookmark-button img{
	padding: 1px 7px;
}
